h3 {
    display: inline;
  }
#myProgress {
    width: 400px;
    height: 30px;
    background-color: orange;
    border: 1px solid black;
  }

.layout {
      display: flex;
  }

#myBar {
width: 0px;
height: 30px;
color: white;
background-color: #4CAF50;
}

#pBarSec {
  display: flex;
}

#pBarSec h3 {
  margin: 20px;
}



